body{
    padding: 20px;
}
.original-project-card{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
}
.card-buttons {
    background-color: blue;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-buttons:hover {
    background-color: #31D2F2;
    transform: scale(1.3);
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.card-img{
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.card-img:hover{
    border-radius: 10px;
    transform: scale(1.1);    
}


.menu-button{
    position: fixed;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
    width: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #66CD66;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menu-button:hover{
    background-color: skyblue;
}
.menu-container{
    position: fixed;
    left:100px;
    height: auto;
    width: auto;
    background-color: #66CD66;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
.menu-container-side{
    position: fixed;
    left:10px;
    top: 120px;
    height: auto;
    width:auto;
    background-color: #66CD66;
    padding: 10px;
    border-radius: 10px;
    display:none;
}

.project-label-icons-header{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}
.project-label-icons-header:hover{
    width: 60px;
    height: 60px;
    transform: rotate(10deg);
    transition: opacity 1s ease, transform 1s ease;
    margin-right: 5px;
}

/* Language Icons */
.language-icons {
    background-color: red;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: whitesmoke;
}
.bg-html{
    background-color: #ED4622;
}

/* icon header */
@media (max-width:500px) {
    .project-label-icons-header{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    .project-label-icons-header:hover{
        width: 40px;
        height: 40px;
        transform: rotate(10deg);
        transition: opacity 1s ease, transform 1s ease;
        margin-right: 5px;
    }
}